<DOCTYPE html>

    <head>
        <title>Trip Planner </title>
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="jquery/jquery.min.js"></script>
    </head>
    <html lang="en">

    <body>
        <h3>Hotels:</h3>
        <select>
            {%for hotel in hotels %}
            <option value="{{hotel.name}}">{{hotel.name}}</option>
            {% endfor %}
        </select>
        <h3>Restaurants:</h3>
        <select>
            {%for rest in rests %}
            <option value="{{rest.name}}">{{rest.name}}</option>
            {% endfor %}
        </select>
        <h3>Activity:</h3>
        <select>
            {%for act in acts %}
            <option value="{{act.name}}">{{act.name}}</option>
            {% endfor %}
        </select>
    </body>

    </html>
