<DOCTYPE html>

    <head>
        <title>Trip Planner </title>
        <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="public/stylesheets/style.css" rel="stylesheet">
        <script src="bootstrap/js/bootstrap.min.js"></script>
        <script src="jquery/jquery.min.js"></script>
    </head>
    <html lang="en">

    <body>
        <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-items">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Best TripPlanner Ever</a>
                </div>
                <div id="nav-items" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/wiki/">Home</a></li>
                        <li><a href="/wiki/add">About</a></li>
                        <li><a href="/users">Content</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="map-canvas" class="col-md-9">
            </div>
            <div class="places col-md-3">
                <div class="panel panel-default">
                    <div class="panel-body" >
                    <h4>Hotels:</h4>
                        <select>
                            {%for hotel in hotels %}
                            <option value="{{hotel.name}}">{{hotel.name}}</option>
                            {% endfor %}
                        </select>
                        <button type="button" class="btn btn-success btn-sm">+</button>
                        <h4>Restaurants:</h4>
                        <select>
                            {%for rest in rests %}
                            <option value="{{rest.name}}">{{rest.name}}</option>
                            {% endfor %}
                        </select>
                        <button type="button" class="btn btn-success btn-sm">+</button>
                        <h4>Activity:</h4>
                        <select>
                            {%for act in acts %}
                            <option value="{{act.name}}">{{act.name}}</option>
                            {% endfor %}
                        </select>
                        <button type="button" class="btn btn-success btn-sm">+</button>
                        </div>
                </div>
                 <div class="panel panel-default">
                    <div class="panel-body" >
                        <h4>My Hotel</h4>
                        <ul>
                            <li>{{hotel.name}}</li>
                        </ul>
                        <h4>My Restaurants:</h4>
                        <ul>
                            <li>{{rest.name}}</li>
                        </ul>
                        <h4>My Activities:</h4>
                        <ul>
                            <li>{{act.name}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class = "row">
            <div class="empty col-md-9">
            </div>
            <div class="my-places col-md-3">
               
            </div>
        </div>


    </body>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkjK-GIIteUmBjM7UtqRDO741YUAh1CIQ&sensor=true"></script>
    <script>
    function initialize_gmaps() {
        // initialize new google maps LatLng object
        var myLatlng = new google.maps.LatLng(40.705189, -74.009209);
        // set the map options hash
        var mapOptions = {
            center: myLatlng,
            zoom: 16,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        // get the maps div's HTML obj
        var map_canvas_obj = document.getElementById("map-canvas");
        // initialize a new Google Map with the options
        var map = new google.maps.Map(map_canvas_obj, mapOptions);
        // Add the marker to the map
        var marker = new google.maps.Marker({
            position: myLatlng,
            title: "Hello World!"
        });
        // Add the marker to the map by calling setMap()
        marker.setMap(map);
    }

    $(document).ready(function() {
        initialize_gmaps();
    });
    </script>

    </html>
