h3 {
    a {
        color: white;
    }
}

h2 {
    color: blue;
}

h1 {
    color: orange;
}

h4 {
    color: green;
}

h5 {
    color: green;
}

.places {
    margin-top: 100px;
    background-color: #CBC8CB;
}

#map-canvas{

	height: 500px;
}
